<template>
  <div id="app">
    <div class="booking">
        <small v-show="step != 5 && bookingId != null" class="timer">Færdig gøre bestilling før om: {{countDown}}</small>
        <div v-show="step != 5" class="btn-group">
          <button class="btn" @click="step--" v-show="step > 2">Back</button>
        </div>
        <h3 v-show="step != 5">Antal gæster: {{bookingSize}}</h3>
      <div v-show="step != 5" class="top-menu">
        <div class="left">
          <small v-show="date != null"><b>Date:</b> {{ date | formatDate }}</small>
          <small v-show="selectedTimeslot != null"><b>Tid:</b> {{selectedTimeslot}}</small>
        </div>
        <div class="right">
          <small v-show="selectedDrink != null"><b>Drikkevare:</b> {{ selectedDrink }}</small>
          <small v-show="selectedFood != null"><b>Mad:</b> {{selectedFood}}</small>
        </div>

      </div>
      <div class="steps" v-show="step == 1">

        <div class="slidecontainer">
          <input type="range" min="2" max="10" step="1" v-model="bookingSize" class="slider" id="myRange">
        </div>
        <div class="booking-calendar">
          <v-date-picker @dayclick='SelectedDate' v-model="date" mode="single" is-inline locale="dk" :disabled-dates='disabledDates' />
          <ul class="timeslots">
            <li @click="SelectedTimeSlot(slot.time), selectedTimeslotIndex = index"  v-for="(slot, index) in timeslots" :key="index" v-bind:class="{ disabled: slot.bookedSeats < 0, active: selectedTimeslotIndex === index}">
              <p>{{ slot.time | formatTime}}</p>
            </li>
          </ul>
        </div>
        <button v-show="selectedTimeslot != null" @click="countDownTimer(), ReserveBooking(), step++, GetDrinks()" class="btn">Næste</button>

      </div>
      <div class="steps" v-show="step == 2">
          <ul class="drinkslist">
            <li @click="SelectDrink(drink.name), selectedDrinkIndex = index" v-for="(drink, index) in drinks" :key="index" v-bind:class="{ active: index == selectedDrinkIndex}" >
              <img height="100px" width="auto" :src="drink.image_url" :alt="drink.name">
              <div class="info">
                <h3>{{drink.name}}</h3>
                <p>{{drink.description}}</p>
              </div>
            </li>
          </ul>
          <div class="btn-group">
            <button class="btn" v-show="drinksPageIndex > 1" @click="drinksPageIndex--, selectedDrinkIndex = null, selectedDrink = null">TIlbage</button>
            <button class="btn" v-show="drinks != null" @click="drinksPageIndex++, selectedDrinkIndex = null, selectedDrink = null">Flere Drikkevarer</button>
          </div>
          <button v-show="selectedDrink != null" @click="step++" class="btn">Næste</button>
      </div>
      <div class="steps" v-show="step == 3">
          <div v-if="randomFood != null" class="foodImage">
            <span class="foodTitle">{{randomFood.strMeal}}</span>
            <img :src="randomFood.strMealThumb" :alt="randomFood.strMeal">
          </div>
          <div class="btn-group">
            <button class="btn" @click="GetRandomFood()">Ny ret</button>
          </div>
          <button v-show="randomFood != null" @click="step++, selectedFood = randomFood.strMeal" class="btn">Næste</button>
      </div>
      <div class="steps" v-show="step == 4">
        <div class="input-form">
          <div class="input">
            <input v-model="name" type="text" required placeholder="Name"/>
            <input v-model="email" type="email" required placeholder="Email"/>
          </div>
          <button class="btn" @click="confirmBooking()">Bekræft</button>
        </div>
      </div>
      <div class="steps" v-show="step == 5">
        <div class="message">
          <h2>Tak</h2>
          <p>Vi har sendt dig en email med en bekræftigelse på din booking. Her kan du ligeledes aflyse din booking hvis du skulle blive forhindret</p>
          <a class="btn" href="/">Gå til forsiden</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'app',
  data () {
    return {
      countDown : 600,
      step: 1,
      name: "",
      email: "",
      bookingSize: 2,
      bookingId: null,
      date: null,
      randomFood: null,
      selectedFood: null,
      drinksPageIndex: 1,
      drinks: null,
      selectedDrink: null,
      selectedDrinkIndex: null,
      timeslots: null,
      selectedTimeslot: null,
      selectedTimeslotIndex: null,
      disabledDates: [
        {
            start:  null,
            end:  new Date(Date.now() - 86400000)
        }
      ]
    }
  },
  created() {
    window.addEventListener('beforeunload', this.leavingPage)
  },
  mounted: function(){
    this.GetRandomFood();
    this.GetDrinks();
  },
  beforeMount: function () {
      this.axios.get("https://date.nager.at/api/v2/PublicHolidays/"+ new Date().getFullYear()+"/Dk").then((response) => {
        response.data.forEach(
          e => this.disabledDates.push(
            {
            start:  new Date(e.date),
            end:  new Date(e.date)
            }
          )
        );
      });
      this.axios.get("https://date.nager.at/api/v2/PublicHolidays/"+ (new Date().getFullYear()+1) +"/Dk").then((response) => {
        response.data.forEach(
          e => this.disabledDates.push(
            {
            start:  new Date(e.date),
            end:  new Date(e.date)
            }
          )
        );
      });
  },
  methods: {
    leavingPage() {
      if(this.step != 5 && this.bookingId != null){
        this.deleteBooking()
      }
    },
    SelectedDate(day){
      if(!day.isDisabled){
        this.date = day.date;
      }

    },
    GetAvaliableTimeSlotByDate() {
      this.axios.get(this.$localUrl + "/umbraco/api/Booking/GetAvaliableTimeSlotByDate?BookingDate=" +  this.formatDate(this.date) + "&bookingSize=" + this.bookingSize)
      .then((response) => {
        this.timeslots = response.data;
      }).catch(err => {
        console.log(err.response);
      });
    },
    SelectedTimeSlot(timeslot) {
     this.selectedTimeslot = this.formatTime(timeslot);
    },
    deleteBooking(){
      this.axios.get(this.$localUrl + "/umbraco/api/Booking/DeleteBooking?bookingId=" + this.bookingId)
      .then((response) => {
        console.log(response)
      }).catch(err => {
        console.log(err.response);
      });
    },
    countDownTimer() {
        if(this.countDown > 0) {
            setTimeout(() => {
                this.countDown -= 1
                this.countDownTimer()
            }, 1000)
        } else if(this.countDown == 0) {
          this.deleteBooking();
          location.reload();
        }
    },
    confirmBooking(){
      var guestPageId = document.getElementById("body").dataset.guestpageid;
      this.axios.get( this.$localUrl + "/umbraco/api/Booking/CompleteBooking?bookingId="+ this.bookingId+"&name="+ this.name +"&email="+this.email+"&foodName="+this.selectedFood +"&drinkName="+ this.selectedDrink +"&guestPageId=" + guestPageId)
      .then((response) => {
        if(response.data){
            this.step = 5;
        }
      }).catch(err => {
        console.log(err.response);
      });
    },
    ReserveBooking(){
      var time = this.formatDate(this.date) + " " + this.selectedTimeslot;
      this.axios.get( this.$localUrl +"/umbraco/api/Booking/AddBooking?confirmed=false&BookingDate="+ this.formatDate(this.date) +"&BookingTime="+ time +"&BookingSize=" + this.bookingSize)
      .then((response) => {
        this.bookingId = response.data;
      }).catch(err => {
        console.log(err.response);
      });
    },
    SelectDrink(drinkId){
      this.selectedDrink = drinkId;
    },
    GetDrinks(){
      this.axios.get("https://api.punkapi.com/v2/beers?page="+this.drinksPageIndex+"&per_page=3")
      .then((response) => {
        this.drinks = response.data;
      }).catch(err => {
        console.log(err.response);
      });
    },
    GetRandomFood(){
      this.axios.get("https://www.themealdb.com/api/json/v1/1/random.php")
      .then((response) => {
        this.randomFood = response.data.meals[0];
      }).catch(err => {
        console.log(err.response);
      });
    },
    formatDate(date) {
      return moment(date).format('YYYY-MM-DD');
    },
    formatTime(date) {
      return moment(date).format('H:mm');
    }
  },
  watch: {
    // whenever active changes, this function will run
    bookingSize: function() {
       if(this.date != null){
         this.GetAvaliableTimeSlotByDate()
       }
    },
    date: function() {
      this.GetAvaliableTimeSlotByDate()
    },
    drinksPageIndex: function(){
      this.GetDrinks()
    }
  }
}
</script>

<style lang="scss">
html {
  background-color: #d4d479;
}
#app {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  .booking {
    padding: 20px;
    width: 70%;
    background-color: white;
    box-shadow: -3px 7px 15px -7px rgba(0,0,0,0.75);
    @media screen and (max-width: 767px) {
      width: 80%;
    }
    .top-menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      .left, .right {
        display: flex;
        flex-direction: column;
        width: 50%;

        small {
          margin-bottom: 10px;
        }
      }
      .right {
        text-align: left;
        @media screen and (max-width: 767px) {
          text-align-last: left;
        }
      }
    }
  }
}
.steps {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;

  .booking-calendar {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      flex-wrap: wrap;
      padding: 0;
      height: 100%;
      width: 100%;

      &.timeslots li {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin: 10px 10px;
        width: 100px;
        height: 100px;
        background-color: #2f2e89;
        color: white;

        @media screen and (max-width: 767px) {
          width: 100%;
          height: 50px;
        }

        &.active {
          border: 1px solid #2f2e89;
          background-color: #fff;
          color: #2f2e89;
        }
      }
    }
  }
}
.btn {
  background-color: #2f2e89;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0 0 0;
}
.btn-group {
  display: flex;
  .btn {
    margin-right: 10px;
  }
}
.disabled {
  background-color: lightgray;
  opacity: .5;
  user-select: none;
}
h1, h2 {
  font-weight: normal;
}

.drinkslist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  li {
    display: flex;
    position: relative;
    box-sizing: border-box;
    background-color: #f9f9f9;
    align-items: center;
    padding: 20px;
    width: 100%;
    transition: .3s all ease;
    cursor: pointer;
    border: 3px solid transparent;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      width: auto;
    }
    &.active {
      border: 3px solid #2f2e89;
      background-color: #fff;
    }
    &:hover {
      box-shadow: -3px 7px 15px -7px rgba(0,0,0,0.75);
    }
    img {
      margin-right: 40px;
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      h3 {
        margin-bottom: 0;
      }
    }

  }
}

.foodImage {
  display: flex;
  flex-direction: column;
  width: 300px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  img {
    width: 300px;
    width: 100%;
  }
  .foodTitle {
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    background-color: #2f2e89;;
    padding: 15px 10px;
  }
}

.input-form {
  .input {
    input {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 50px;
      padding: 0 10px;
      margin-bottom: 10px;
      width: 50%;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.message {
  p {
    line-height: 22px;
  }
}
// Slider style
.slidecontainer {
    width: 100%;

    img {
      width: 300px;
      height: auto;
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 40px 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2f2e89;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #2f2e89;
    cursor: pointer;
}

.section {
    width: 70%;
    background-color: rgba(255,255,255, .5);
    padding: 40px;
}

.bookings-list {
  padding-left: 0;
  list-style: none;
  .booking-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;

    .info {
      font-size: 12px;
      margin: 0;
    }
  }
}
</style>
