<div class="umb-dashboard-grid" ng-controller="Sundown.DashboardController as vm">
    <div class="umb-editor">
        <div class="section">
            <h1>Hej {{vm.UserName}}</h1>
            <ul class="bookings-list">
                <li ng-repeat="booking in vm.Bookings" class="booking-card">
                    <p class="info">Dato: {{booking.BookingDate | date : 'dd-MM-yyyy'}}</p>
                    <p class="info">Klokken: {{booking.BookingTime | date : 'H:mm'}}</p>
                    <p>Navn: {{booking.Name}}</p>
                    <p>Email: {{booking.Email}}</p>
                    <p>Drikkevare: {{booking.DrinkName}}</p>
                    <p>Mad: {{booking.FoodName}}</p>
                    <a ng-click="deleteBooking(booking.Id)" class="btn">Slet</a>
                </li>
            </ul>
        </div>
        
    </div>
</div>

