﻿.umb-editor {
    padding: 20px;
}
.section {
    background-color: #fff;
}
.bookings-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}
.booking-card {
    background-color: #2f2e89;
    color: white;
    box-shadow: -3px 7px 15px -7px rgba(0,0,0,0.75);
    padding: 20px;
    margin: 10px;
}
.info {
    font-size: 12px;
    margin: 0;
}