﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div id="loginForm">
    <h1>@Umbraco.AssignedContentItem.Value("loginTitle")</h1>
    <p>@Umbraco.AssignedContentItem.Value("loginDescription")</p>
    <form>
        <div class="input-form">
            <div class="input">
                <input id="loginEmail" type="email" required placeholder="email" name="email" value="" />
            </div>
        </div>
        <button type="button" class="btn getLogin">Submit</button>
    </form>
</div>
<div id="success" style="display:none">
    <h1>@Umbraco.AssignedContentItem.Value("successTitle")</h1>
    <p>@Umbraco.AssignedContentItem.Value("successDescription")</p>
</div>
