﻿@using SundownBoulevard.Core.Models
@inherits UmbracoViewPage<IEnumerable<SunTableModel>>
@if (Model != null)
{
    <h1>@Umbraco.AssignedContentItem.Value("pageTitle")</h1>
    <p>@Umbraco.AssignedContentItem.Value("pageDescription")</p>
    <ul class="bookings-list">
        @foreach (var booking in Model)
        {
        <li class="booking-card">
            <p class="info">Dato: @booking.BookingDate.ToString("dd-MM-yyyy")</p>
            <p class="info">Klokken: @booking.BookingTime.ToString("H:mm")</p>
            <p>Navn: @booking.Name (@booking.Email)</p>
            <p>Drikkevare: @booking.DrinkName</p>
            <p>Mad: @booking.FoodName</p>
            <button class="btn deleteReservation" data-reservation="@booking.Id">Slet</button>
        </li>
        }
    </ul>
}
else
{
    <p>Empty</p>
}

