﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/scripts/build.js"></script>
<script>
    $(document).ready(function () {
        // This WILL work because we are listening on the 'document',
        // for a click on an element with an ID of #test-element
        $(document).on("click", ".deleteReservation", function () {
            DeleteReservation($(this).data("reservation"))
            $(this).parent().fadeOut();
        });
        $(document).on("click", ".getLogin", function () {
            SendLoginEmail($("#loginEmail").val());
        });

    });
    function SendLoginEmail(email) {
        var requestData = {
            email: email,
            guestPageId: "@Umbraco.AssignedContentItem.Id"
        }

        $.get('/umbraco/api/Booking/SendConfirmMail', requestData, function (data) {
            if (data) {
                $("#loginForm").hide();
                $("#success").fadeIn();
            } else {
                console.log("Error")
            }
            console.log(data)
        });
    }
    function DeleteReservation(bookingId) {
        var requestData = {
            bookingId: bookingId
        }

        $.get('/umbraco/api/Booking/DeleteBooking', requestData, function (data) {
            console.log(data)
        });
    }
</script>