@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var Root = Model.Root();
    IPublishedContent siteLogo = null;
}

@*@if (Model.Value<IPublishedContent>("siteLogo", fallback: Fallback.ToAncestors) != null)
{
    siteLogo = Model.Value<IPublishedContent>("siteLogo", fallback: Fallback.ToAncestors);
    <img src="@siteLogo.Url" alt="Logo" />
}*@
