@inherits UmbracoViewPage<Frontpage>
@{
	Layout = "master.cshtml";
}
<div class="section">
    <h1>@Model.PageTitle</h1>
    <p>@Model.PageDescription</p>


    <div class="frontmenu">
        @foreach (var link in Model.Links)
        {
            <a class="btn" href="@link.Url">@link.Name</a>
        }
    </div>
</div>

