﻿@inherits UmbracoViewPage<GuestPage>
@{
    Layout = "master.cshtml";
    var query = Request.QueryString["q"];

}
<a class="btn" href="/">Tilbage</a>
<div class="section">
    @if (!string.IsNullOrEmpty(query))
    {
        @Html.Action("GetBookingsByEmail", "ReservationSurface", new { cryptoEmail = query, currentPageId = Model.Id })
    }
    else
    {
        Html.RenderPartial("~/Views/Partials/Reservation/Login.cshtml");
    }
</div>